/**
 * FONTS
 */
/*
 * COLORS
 */
/*
 * BREAKPOINTS
 */
body {
  margin: 5%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+73&0.59+0,0.83+48,1+88 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.83) 48%, rgba(0, 0, 0, 0.94) 73%, black 88%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.83) 48%, rgba(0, 0, 0, 0.94) 73%, black 88%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0.83) 48%, rgba(0, 0, 0, 0.94) 73%, black 88%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#96000000", endColorstr="#000000",GradientType=0 );
  /* IE6-9 */
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}
body.light {
  background: #fff;
}
body h1 {
  font-size: 46px;
  color: white;
  font-weight: 900;
}
body h2 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 18px;
}
body a:hover {
  text-decoration: none;
}
body.light h1 {
  color: black;
}
body.light h2 {
  color: rgba(0, 0, 0, 0.65);
}

.items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 50px;
}
.items .item {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0 15px;
  margin-bottom: 20px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 1024px) {
  .items .item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 520px) {
  .items .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.items .item:hover {
  transform: translate(0, -4px);
}
.items .item-others {
  color: #fff;
}
.items .item-others-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .items .item-others-title {
    font-size: 14px;
  }
}
.items .item-others-artist {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
}
.items .item-image img {
  width: 100%;
  height: auto;
}

.light .item-others {
  color: #000;
}
.light .item-others-artist {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}

.change-look {
  text-align: right;
}
@media (max-width: 520px) {
  .change-look {
    text-align: left;
  }
}
.change-look-button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 5px 20px;
  font-size: 12px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: inline-block;
}
.change-look-button:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 520px) {
  .change-look-button {
    margin-top: 20px;
  }
}

.light .change-look-button {
  color: #000;
  border: 1px solid #000;
}
.light .change-look-button:hover {
  background-color: #000;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
